/* ##########
Everything
########## */
* {box-sizing:border-box;}

body{
    font-family: 'Work Sans', sans-serif;
}

/* ##########
Flex
########## */

.joined-div{
    display: flex;
    align-items: center;
}

.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-height{
    height: 100vh;
}

/* ##########
Margin
########## */

.m-l-5{
    margin-left: 5px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-15{
    margin-left: 15px;
}
.m-r-15{
    margin-right: 15px;
}


.m-r-5{
    margin-right: 5px;
}

.m-t-5{
    margin-top: 5px;
}
.m-b-5{
    margin-bottom: 5px;
}

.m-i-5{
    margin-inline:5px
}
.m-i-10{
    margin-inline:10px;
}

.m-i-5{
    margin-inline:10px
}
.m-a-10{
    margin:10px;
}

/* ##########
Padding
########## */

.p-l-5{
    padding-left: 5px;
}
.p-r-5{
    padding-right: 5px;
}
.p-b-5{
    padding-bottom: 5px;
}
.p-t-5{
    padding-top: 5px;
}
.p-a-15{
    padding:15px;
}

/* ###########
div
########## */
.right-float{
    float: right;
}

/* ##########
SHADOWS
######### */
.medium-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


