.card {
    position: relative;
    margin-inline: 5px;
    margin-bottom:20px;
    width: 20rem;
    height: 22rem;
    border: 1px solid rgba(225, 225, 225, 0.65);
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(225, 225, 225, 0.65) 0px 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card img {
    width: 300px;
    height: 210px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-discount {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: #ff1a00ba;
    color: white;
    padding: 0px 5px;
    transform: skewX(-20deg);
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }